/* Main Menu */
.NavMenu {
    font-family: 'Single Day', cursive;
}

.NavLogo {
    font-size: 25px;
}

.NavList {
    width: 100%;
    margin: 0;
    padding: 15px 15px 8px;
    background: rgb(49, 49, 49);
    list-style: none;
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 1000; /* Ensures the nav stays above other content */
}

.NavList li {
    float: left;
    text-align: center;
    position: relative;
    margin-top: 5px;
    width: 90px;
    background: rgb(49, 49, 49);
}

.NavList li a {
    color: rgb(255, 255, 255);
    font-size: 17px;
    display: block;
    text-decoration: none;
    text-align: left;
    font-family: 'Single Day', cursive;
    padding: 3px;
}

.NavList li ul {
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 170px;
    background: rgb(49, 49, 49);
    z-index: 200;
    list-style: none;
}

.NavList li ul li {
    width: 100%;
}

.NavDropdown {
    font-family: 'Single Day', cursive;
}

.NavList li:hover ul {
    display: block;
}