/* main menu*/
.NavMenu{
    font-family: 'Single Day', cursive;
}

.NavList{
    width: 100%;
    margin:0;
    height:30px;
    padding: 15px 10px 8px;
    background: rgb(49,49,49);
    list-style: none;
    position: fixed;
    top: 0;
}

.NavList li{
    float: left;
    text-align: center;
    position: relative;
    margin: 5px;
    width: 90px;
    text-decoration: none;
    font-weight: bold;
    background: rgb(49,49,49);
}
.NavList li a{
    color: rgb(255,255,255);
    font-size:20px;
    font-weight: normal;
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    font-family: 'Single Day', cursive;
}
.NavList li ul{
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:100px;
    z-index:200;
}

.NavDropdown{
    font-family: 'Single Day', cursive;
    position: absolute;
    display: none;
}
.NavList li:hover ul.dropdown{
    display: block;
}